<ng-container *ngIf="devis && devis.id">

  <div class="p-grid devis-preview pg-8 mg-t-10 mg-l-1">
    <div class="p-col-6 " (click)="openDialogBlockArtisan()">

      <div class="editable-block">
        <div class="p-d-flex">
          <div class="color-editable-field mg-r-5">SIRET</div>
          <app-block-edit-field
            [width]="223"
            placeholder="siret..."
            [inputValue]="devis.artisanSiret"
            [type]="tf.TEXT">
          </app-block-edit-field>
        </div>

        <div>
        <app-block-edit-field
          [width]="267"
          placeholder="adresse..."
          [inputValue]="devis.artisanAdresse"
          [type]="tf.TEXT">
        </app-block-edit-field>
        </div>

        <div class="p-d-flex">
        <span class="mg-r-5">
             <app-block-edit-field
               [width]="100"
               placeholder="code postal..."
               [inputValue]="devis.artisanCodePostal"
               [type]="tf.TEXT">
        </app-block-edit-field>
        </span>
          <span>
            <app-block-edit-field
              [width]="162"
              placeholder="ville..."
              [inputValue]="devis.artisanVille"
              [type]="tf.TEXT">
        </app-block-edit-field>

        </span>
        </div>
        <div class="p-d-flex">
          <span class="color-editable-field mg-r-23 ">Tél</span>
          <span>
            <app-block-edit-field
              [width]="225"
              placeholder="téléphone..."
              [inputValue]="devis.artisanTelephone"
              [type]="tf.TEXT">
        </app-block-edit-field>
        </span>
        </div>
        <div class="p-d-flex">
          <span class="color-editable-field mg-r-4">Email</span>
          <span>
            <app-block-edit-field
              [width]="225"
              placeholder="email..."
              [inputValue]="devis.artisanEmail"
              [type]="tf.TEXT">
              ></app-block-edit-field>
        </span>
        </div>

      </div>

    </div>
    <div class="p-col-6" (click)="openDialogBlockClient()">
      <div class="editable-block mg-l-5">
        <div class="p-d-flex">

        <span class="mg-r-5">
          <app-block-edit-field
            [width]="120"
            placeholder="prénom client..."
            [inputValue]="devis.clientPrenom"
            [type]="tf.TEXT">
          </app-block-edit-field>
        </span>

          <app-block-edit-field
            [width]="132"
            placeholder="nom client..."
            [inputValue]="devis.clientNom"
            [type]="tf.TEXT">
          </app-block-edit-field>

        </div>
        <div>
          <app-block-edit-field
            [width]="150"
            placeholder="adresse client..."
            [inputValue]="devis.clientAdresse"
            [type]="tf.TEXT">
          </app-block-edit-field>
        </div>
        <div class="p-d-flex">
        <span class="mg-r-5">
          <app-block-edit-field
            [width]="120"
            placeholder="code postal..."
            [inputValue]="devis.clientCodePostal"
            [type]="tf.TEXT">
        </app-block-edit-field>

        </span>
          <span>
           <app-block-edit-field
             [width]="132"
             placeholder="ville client..."
             [inputValue]="devis.clientVille"
             [type]="tf.TEXT">
        </app-block-edit-field>

        </span>
        </div>
        <div class="p-d-flex">
          <span class="color-editable-field mg-r-4">Email</span>
          <app-block-edit-field
            [width]="224"
            placeholder="email client..."
            [inputValue]="devis.clientEmail"
            [type]="tf.TEXT">
          </app-block-edit-field>
        </div>
      </div>
    </div>

    <div class="p-col-6">
      <strong class="not-editable">Devis n° {{devis.numeroDevis}}</strong>
    </div>
    <div class="p-col-6">
      <app-edit-text-field [inputValue]="devis.sujet"
                           placeholder="sujet..."
                           (emit)="updateDevis('sujet',$event)" [width]="280"></app-edit-text-field>
    </div>

    <div class="p-col-6">
      <div class="p-d-flex">

        <span class="mg-r-5">
          <app-edit-text-field [inputValue]="devis.lieu"
                               placeholder="lieu..."
                               (emit)="updateDevis('lieu',$event)" [width]="165"></app-edit-text-field>
        </span>
        <span>
          <app-edit-date-field [inputValue]="devis.dateDevis"
                               placeholder="date..."
                               (emit)="updateDevis('dateDevis',$event)" [width]="110"></app-edit-date-field>
        </span>
      </div>

    </div>
    <div class="p-col-6">
    </div>

    <!--<div id="designation" class="p-col-12">-->
    <!--<table style="width:100%">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>Désignation</th>-->
    <!--<th *ngIf="isActif(colonneQuantite)">Quantité</th>-->
    <!--<th *ngIf="isActif(colonneQuantite)">Prix unitaire HT</th>-->
    <!--<th *ngIf="isActif(tvaSaisissableParLigne)">Taux TVA</th>-->
    <!--<th>Prix total HT</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td>Modificatif de l'état descriptif</td>-->
    <!--<td class="montant" *ngIf="isActif(colonneQuantite)">1</td>-->
    <!--<td class="montant" *ngIf="isActif(colonneQuantite)">550.25 €</td>-->
    <!--<td class="montant" *ngIf="isActif(tvaSaisissableParLigne)">20%</td>-->
    <!--<td class="montant">550.25 €</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>Attestation de surface loi carrez</td>-->
    <!--<td class="montant" *ngIf="isActif(colonneQuantite)">2</td>-->
    <!--<td class="montant" *ngIf="isActif(colonneQuantite)">62.89 €</td>-->
    <!--<td class="montant" *ngIf="isActif(tvaSaisissableParLigne)">5.5%</td>-->
    <!--<td class="montant">125.78 €</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->

    <!--<div class="p-col-8">-->
    <!--<ng-container *ngIf="isActif(coordonneesBanquaires) && artisanBanque">-->
    <!--<table>-->
    <!--<tr>-->
    <!--<td>Banque</td>-->
    <!--<td>{{artisanBanque.banque}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>RIB</td>-->
    <!--<td>{{artisanBanque.rib}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>IBAN</td>-->
    <!--<td>{{artisanBanque.iban}}</td>-->
    <!--</tr>-->
    <!--</table>-->

    <!--</ng-container>-->
    <!--</div>-->
    <!--<div class="p-col-4">-->
    <!--<table id="totaux" style="width:100%">-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td><strong>TOTAL HT</strong></td>-->
    <!--<td class="montant"><strong>676.03 €</strong></td>-->
    <!--</tr>-->


    <!--<ng-container [ngSwitch]="isActif(tvaSaisissableParLigne)">-->
    <!--<ng-container *ngSwitchCase="false">-->
    <!--<tr>-->
    <!--<td>TOTAL TVA ({{artisan.taxe.taux}}%)</td>-->
    <!--<td class="montant">{{676.03 * (artisan.taxe.taux/100) | number:'1.2-2'}} €</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td><strong>TOTAL TTC</strong></td>-->
    <!--<td class="montant"><strong>{{676.03 * (1+(artisan.taxe.taux/100 )) | number:'1.2-2'}} €</strong></td>-->
    <!--</tr>-->
    <!--</ng-container>-->
    <!--<ng-container *ngSwitchCase="true">-->
    <!--<tr>-->
    <!--<td>TOTAL TVA</td>-->
    <!--<td class="montant">116.97 €</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td><strong>TOTAL TTC</strong></td>-->
    <!--<td class="montant"><strong>{{793 | number:'1.2-2' }} €</strong></td>-->
    <!--</tr>-->
    <!--</ng-container>-->
    <!--</ng-container>-->


    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->

    <div class="p-d-flex">
          <span class="mg-r-5 not-editable">
            <strong>Conditions de réglement</strong>
          </span>
      <span>
          <app-edit-text-field [inputValue]="devis.conditionDeReglement"
                               placeholder="condition de réglement..."
                               (emit)="updateDevis('conditionDeReglement',$event)" [width]="410"></app-edit-text-field>
      </span>
    </div>

    <div class="p-d-flex">
      <strong class="mg-r-19 not-editable">Règlement à l'ordre de</strong>
      <span>
             <app-edit-text-field [inputValue]="devis.ordre"
                                  placeholder="à l'ordre de..."
                                  (emit)="updateDevis('ordre',$event)"
                                  [width]="410"></app-edit-text-field>
          </span>
    </div>


    <div class="p-d-flex">
          <span class="mg-r-5 not-editable">
            <strong>Devis valable</strong>
          </span>
      <span>

         <app-edit-integer-field [inputValue]="devis.validiteDevisMois"
                                 placeholder="validité..."
                                 (emit)="updateDevis('validiteDevisMois',$event)"
                                 [width]="30"></app-edit-integer-field>
      </span>
      <span class="mg-l-5 not-editable">
        <strong>mois.</strong>
      </span>
    </div>

    <div class="p-d-flex" data-test="provision" *ngIf="doUtils.getDevisOption(devisOptionList,mo.PROVISION)">
    <span class="mg-r-5 not-editable">
    Acceptation du devis accompagné d'une provision de
    </span>
      <span class="mg-r-5">
       <app-edit-decimal-field [inputValue]="devis.provision"
                               placeholder="provision en %..."
                               (emit)="updateDevis('provision',$event)"
                               [width]="60"></app-edit-decimal-field>
    </span>
      <span class="mg-r-5 not-editable">
        %
      </span>
    </div>

    <div class="p-col-12">
          <span class="mg-r-5">
            Bon pour commande,
          </span>
    </div>

    <div class="p-col-12">
          <span class="mg-r-5">
            Le ...........................................
          </span>
    </div>

    <div class="p-col-6">
          <span class="mg-r-5">
           Signature et nom du signataire
          </span>
    </div>
    <div class="p-col-6">
          <span class="mg-r-5">
           TODO signature artisan
          </span>
    </div>

  </div>

  <pre>
    {{devisOptionList | json}}
  </pre>

</ng-container>

<!--DIALOG ARTISAN-->
<app-block-artisan></app-block-artisan>

<!--DIALOG CLIENT-->
<app-block-client></app-block-client>
