@import 'variables';

.devis-preview {

  max-width: calc(100% - 20px);
  border: 1px solid $color-border;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  margin-bottom: 2px;


  .montant {
    text-align: right;
  }



  #totaux{
    border:none;
  }

  #designation  table {

    border: 1px solid black;
    border-collapse: collapse;

    td {

      border: 1px solid black;
      padding: 8px;

    }

    th {
      border: 1px solid black;
      background-color: $color-border;
      text-align: left;
      padding: 8px;
    }

  }

}
