@import 'variables';

.content{

  height : calc(100vh - 300px);
  max-height : calc(100vh - 300px);

  margin: auto;
  margin-top: 140px;
  overflow: auto;


}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-border;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-href;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-href-hover;
}

.rubriques{
  //background-color: $color-background;
  min-height : calc(100vh - 340px);
  padding-bottom: 40px;
}
