.idea/*
back/adapters/primaries/application/springapp/src/main/resoures/application.properties
back/adapters/secondaries/dataproviderjpa/src/main/resources/liquibase/liquibase.properties
back/adapters/secondaries/dataproviderjpa/src/test/resources/liquibase/liquibase.properties
*/target
*.pdf
### Java template 
# Compiled class file
*.class
*.iml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar



*/target/