<!--content-->

  <p-card >
    <ng-template pTemplate="header">
      <h6 class="pg-10">Me connaître</h6>
    </ng-template>
    <p>Originaire de Pernes les Fontaines, Je suis un adepte de la beauté. J'aime dessiner les paysages et
      entretenir nos charmants jardins provençaux.</p>

  </p-card>
  <p-card class="pg-28 ">
    <ng-template pTemplate="header">
      <h6 class="pg-10">Mes prestations</h6>
    </ng-template>

    <p>
      <fa-icon [icon]="faCarrot" class="mg-r-5"></fa-icon>
      Préparer les sols
    </p>
    <p>
      <fa-icon [icon]="faCarrot" class="mg-r-5"></fa-icon>
      Effectuer les semis
    </p>
    <p>
      <fa-icon [icon]="faCarrot" class="mg-r-5"></fa-icon>
      Protéger les plantations
    </p>
    <p>
      <fa-icon [icon]="faCarrot" class="mg-r-5"></fa-icon>
      Entretenir les pelouses et le gazon
    </p>
    <p>
      <fa-icon [icon]="faCarrot" class="mg-r-5"></fa-icon>
      Débroussailler
    </p>
    <p>
      <fa-icon [icon]="faCarrot" class="mg-r-5"></fa-icon>
      Tailler les arbres et les arbustes
    </p>
    <p>
      <fa-icon [icon]="faCarrot" class="mg-r-5"></fa-icon>
      Evacuer et recycler les déchets verts
    </p>


  </p-card>
