<ng-container [ngSwitch]="isReadonly">
  <ng-container *ngSwitchCase="true">
    <div [style.width.px]="width" [style.max-width.px]="width" class="editable" (click)="setReadOnly(false)">
      <ng-container *ngIf="_inputValue">
        le {{_inputValue | date: 'dd/MM/yyyy'}}
      </ng-container>
      <ng-container *ngIf="!_inputValue">
        {{placeholder}}
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="false">
    <p-calendar [(ngModel)]="_inputValue"
                (onSelect)="setReadOnly(true)"
                (onClickOutside)="setReadOnly(true)"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                [placeholder]="placeholder"
                (keydown.enter)="setReadOnly(true)"
                [style]="{'width': width+'px'}"   #input ></p-calendar>
  </ng-container>

</ng-container>
