<div class="p-d-flex" >

  <div class="max-wh-620">
    <p-table [value]="devisList"
             [scrollable]="true"
             [scrollHeight]="responsiveUtils.getHeightStr(260)"
             selectionMode="single"
             [(selection)]="selectedDevis"
             (onRowSelect)="onRowSelect($event)"
             dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th [width]="numeroDevisWidth" style="line-height:40px;">
            <button pButton icon="pi pi-plus"  pTooltip="créer un devis" (click)="openDialogCreateDevis()"></button>
            N° devis
          </th>
          <th [width]="clientWidth" pSortableColumn="clientNom">
            Client
            <p-sortIcon field="clientNom"></p-sortIcon>
          </th>
          <th [width]="depuisWidth" pSortableColumn="dateATraiter">
            Depuis
            <p-sortIcon field="dateATraiter"></p-sortIcon>
          </th>
          <th>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td [width]="numeroDevisWidth">
            {{rowData.numeroDevis}}
          </td>
          <td [width]="clientWidth">
            <ng-container *ngIf="rowData.client">
              <span class="mg-r-1">
                {{rowData.clientNom | uppercase}} {{rowData.clientPrenom | titlecase}}
              </span>
              <span *ngIf="rowData.clientSociete">
                <strong  style="white-space: nowrap">
                  {{rowData.clientSociete |  uppercase}}
                </strong>
              </span>
            </ng-container>
          </td>
          <td [width]="depuisWidth">
            {{aTraiterSince(rowData.dateATraiter)}}
          </td>
          <td>
            <button pButton icon="pi pi-trash" pRipple class="p-button-secondary p-button-text"  pTooltip="supprimer un devis" (click)="confirmRemoveDevis(rowData)" ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="mg-l-20" *ngIf="selectedDevis && selectedDevis.id">

    <div class="p-d-flex">
      <p-button icon="pi pi-save" pTooltip="Enregistrer les modifications" (onClick)="saveDevis()"
                class="mg-r-10"></p-button>
    </div>
    <app-designer></app-designer>
  </div>

</div>

<!--DIALOG CREER DEVIS A TRAITER-->
<app-create></app-create>
