<div class="p-d-flex p-flex-md-row p-jc-between menu">

  <div class="threeBarButton cursor mg-r-20">
    <i class="pi pi-bars"></i>
  </div>

  <div class="mg-l-20">
    <span class="titleSite">
      Du jardin au potager
    </span>
    <span class="titlePersonne">
      Nicolas Boetsch
    </span>
    <span class="titleFonction">
      Jardinier
    </span>
  </div>
  <div>
  </div>

  <div class="p-d-flex">

    <div class="mg-r-20 cursor" pTooltip="cliquez sur moi pour m'appeler" (click)="callMe()">
        <app-contact-me></app-contact-me>
    </div>

  </div>

</div>


