<div class="p-d-flex p-jc-between menu">

  <div class="threeBarButton cursor mg-r-20">
    <i class="pi pi-bars"></i>
  </div>
  <div class="mg-r-20">
    <img  class="logo" src="assets/images/logo.png">
  </div>
  <div class="p-d-flex">
    <div class="mg-r-20 cursor link">Du jardin au potager</div>
    <div class="mg-r-20 cursor link">Mes services</div>
    <div class="mg-r-20 cursor link">Besoin d'autres services ?</div>
  </div>
  <div class="p-d-flex">

    <div class="mg-r-20 cursor me-contacter" pTooltip="cliquez sur moi pour me contacter">
      <app-contact-me></app-contact-me>
    </div>

  </div>

</div>


