<div class="p-d-flex p-jc-center  mg-b-20 pg-20">
  <div id="rayon-action">
    <p-card>
      <ng-template pTemplate="header">
        <strong class="title4 pg-20">Mon rayon d'action</strong>
      </ng-template>

      <div class="p-d-flex mg-l-20">
        10 kms autour de Pernes les Fontaines (84210)
      </div>

    </p-card>
  </div>
</div>

<div class="p-d-flex p-jc-center  mg-b-20 pg-20">
  <div id="coordonnees">
    <p-card>
      <ng-template pTemplate="header">
        <strong class="title4 pg-20">Me contacter</strong>
      </ng-template>

      <div class="p-d-flex mg-l-20">
        <table>
          <tr>
            <td>Téléphone</td>
            <td class="pg-30 font-20">
              <a id="me-contacter" href="tel:06-51-15-88-92" class="text-contact font-24 cursor">06 51 15 88 92</a>
            </td>
          </tr>
          <tr>
            <td>Mail</td>
            <td class="pg-30 font-20">
              <a href="mailto:dujardinaupotager@gmail.com" class="text-contact font-24  cursor">dujardinaupotager@gmail.com</a>
            </td>
          </tr>
        </table>

      </div>

    </p-card>
  </div>
</div>




