<div class="p-d-flex p-jc-center  mg-b-40 pg-t-40">
  <div>
    <strong class="font-24">Mon rayon d'action</strong>
  </div>
</div>

<div class="p-d-flex  p-jc-center  mg-b-20">
  <div>
   10 kms autour de Pernes les Fontaines (84210)
  </div>
</div>

<div class="p-d-flex p-jc-center  mg-b-40 pg-t-40">
  <div>
    <strong class="font-24">Me contacter</strong>
  </div>
</div>

<div class="p-d-flex  p-jc-center  mg-b-20">
  <div>
    <a href="tel:06-51-15-88-92" class="font-24 cursor">06 51 15 88 92</a>
  </div>
</div>
<div class="p-d-flex  p-jc-center  mg-b-40">
  <a href="mailto:dujardinaupotager@gmail.com" class="font-24 cursor">dujardinaupotager@gmail.com</a>
</div>


