@import 'variables';


a{
  text-decoration: none;
  background-color: $color-href;
  color: white;
  padding: 8px;
  border-radius: 4px;

  &:hover{
    background-color: $color-href-hover;
  }
}


.text-contact{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

