@import 'variables';


a{
  text-decoration: none;
  background-color: $color-href;
  color: white;
  padding: 8px;
  border-radius: 4px;

  &:hover{
    background-color: $color-href-hover;
  }
}

.text-contact{
  font-size: 24px;
}


@media screen and (max-width: 960px) {

  #coordonnees, #rayon-action, #services-proposes, #type-paiement {
    max-width: 700px;
  }

  .text-contact{
    font-size: 18px;
  }

}
