<div class="p-d-flex p-jc-center mg-b-20 pg-20">
  <div id="services-proposes">
    <p-card>
      <ng-template pTemplate="header">
        <strong class="title4 pg-20">Les services que je propose</strong>
      </ng-template>
      <div class="p-d-flex mg-l-20">
        <table>
          <tr>
            <td>
              <app-tonte></app-tonte>
            </td>
            <td class="pg-30 font-20">
              tonte et entretien de la pelouse
            </td>
          </tr>
          <tr>
            <td>
              <app-desherbage></app-desherbage>
            </td>
            <td class="pg-30 font-20">
              désherbage (plates-bandes, potagers, allées)
            </td>
          </tr>
          <tr>
            <td>
              <app-taille></app-taille>
            </td>
            <td class="pg-30 font-20">
              taille (haies, rosiers, arbustes)
            </td>
          </tr>
          <tr>
            <td>
              <app-plantation></app-plantation>
            </td>
            <td class="pg-30 font-20">
              plantation (fleurs, arbustes, légumes)
            </td>
          </tr>
          <tr>
            <td>
              <app-leaves-bag></app-leaves-bag>
            </td>
            <td class="pg-30 font-20">
              enlèvement des végétaux, broyage et paillage
            </td>
          </tr>
          <tr>
            <td>
              <app-entretien-piscine></app-entretien-piscine>
            </td>
            <td class="pg-30 font-20">
              entretien de piscine (selon vos conseils)
            </td>
          </tr>
        </table>
      </div>
    </p-card>
  </div>

</div>

<div class="p-d-flex p-jc-center  mg-b-20 pg-20">
  <div id="type-paiement">
    <p-card>
      <ng-template pTemplate="header">
        <strong class="title4 pg-20">Type de paiement</strong>
      </ng-template>

      <div class="p-d-flex mg-l-20">
        <table>
          <tr>
            <td>
              <app-cesu></app-cesu>
            </td>
            <td class="pg-30 font-20">
              chèque emploi service (CESU)
            </td>
          </tr>
        </table>

      </div>

    </p-card>
  </div>
</div>





