<div class="p-d-flex p-jc-center mg-b-20 pg-20">
  <div id="services-proposes">
    <p-card>
      <ng-template pTemplate="header">
        <strong class="title4 pg-20">Mes services</strong>
      </ng-template>
      <div class="p-d-flex mg-l-20">
        <table>
          <tr>
            <td>
              <img class="img" src="assets/images/tonte.svg">
            </td>
            <td class="texte-service-propose">
              tonte et entretien de la pelouse
            </td>
          </tr>
          <tr>
            <td>
              <img class="img-verticale" src="assets/images/desherbage.svg">
            </td>
            <td class="texte-service-propose">
              désherbage (plates-bandes, potagers, allées)
            </td>
          </tr>
          <tr>
            <td>
              <img class="img" src="assets/images/taille.svg">
            </td>
            <td class="texte-service-propose">
              taille (haies, rosiers, arbustes)
            </td>
          </tr>
          <tr>
            <td>
              <img class="img" src="assets/images/plantation.svg">
            </td>
            <td  class="texte-service-propose">
              plantation (fleurs, arbustes, légumes)
            </td>
          </tr>
          <tr>
            <td>
              <img class="img" src="assets/images/leaves-bag.svg">
            </td>
            <td  class="texte-service-propose">
              enlèvement des végétaux, broyage et paillage
            </td>
          </tr>
          <tr>
            <td>
              <img class="img" src="assets/images/entretien-piscine.svg">
            </td>
            <td  class="texte-service-propose">
              entretien de piscine (selon vos conseils)
            </td>
          </tr>
        </table>
      </div>
    </p-card>
  </div>

</div>

<div class="p-d-flex p-jc-center  mg-b-20 pg-20">
  <div id="type-paiement">
    <p-card>
      <ng-template pTemplate="header">
        <strong class="title4 pg-20">Type de paiement</strong>
      </ng-template>

      <div class="p-d-flex mg-l-20">
        <table>
          <tr>
            <td>
              <img src="assets/images/cesu.svg">
            </td>
            <td class="pg-30 ">
              chèque emploi service (CESU) et espèces
            </td>
          </tr>
        </table>

      </div>

    </p-card>
  </div>
</div>





