<div class="p-d-flex p-jc-center  mg-b-40 pg-t-40">
  <div>
    <strong class="font-24">Les services que je propose</strong>
  </div>
</div>

<div class="p-d-flex p-flex-column p-flex-md-row p-jc-center p-flex-wrap text-align-center mg-l-40">

  <div class=" mg-r-40 mg-b-40 ">
    <div >
      <app-tonte></app-tonte>
    </div>
    <div>
      Tonte et entretien de la pelouse
    </div>
  </div>

  <div class="mg-r-40 mg-b-40">
    <div class="text-align-center">
      <app-desherbage></app-desherbage>
    </div>
    <div>
      Désherbage (plates-bandes, potagers, allées)
    </div>
  </div>

  <div class="mg-r-40  mg-b-40">
    <div class="text-align-center">
      <app-taille></app-taille>
    </div>
    <div>
      Taille (haies, rosiers, arbustes)
    </div>
  </div>

  <div class="mg-r-40 mg-b-40">
    <div class="text-align-center">
      <app-plantation></app-plantation>
    </div>
    <div>
      Plantation (fleurs, arbustes, légumes)
    </div>
  </div>

  <div class="mg-r-40 mg-b-40">
    <div class="text-align-center">
      <app-leaves-bag></app-leaves-bag>
    </div>
    <div>
      Enlèvement des végétaux, Broyage / paillage
    </div>
  </div>

  <div class="mg-r-40 mg-b-40">
    <div class="text-align-center">
      <app-entretien-piscine></app-entretien-piscine>
    </div>
    <div>
      Entretien de piscine (selon vos conseils)
    </div>
  </div>

</div>

<div class="p-d-flex  p-jc-center mg-b-20  pg-t-40">
  <div>
    <strong class="font-24">Type de paiement</strong>
  </div>
</div>
<div class="p-d-flex  p-jc-center  mg-b-20">
  <div>
    chèque emploi service (CESU)
  </div>
</div>
<div class="p-d-flex  p-jc-center  mg-b-40">
  <app-cesu></app-cesu>
</div>



