<p-toast [key]="ROOT_KEY" [position]="MSG_POSITION" ></p-toast>
<p-confirmDialog #cd rejectButtonStyleClass="p-button-outlined"  header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Non" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<div data-test="menu">
  <div class="threeBarButton" data-test="threeBarButton">
    threeBarButton
  </div>
  <div class="logo" data-test="logo">
    logo
  </div>
  <div  class="parametres" data-test="parametres">
    Parametres
  </div>
  <div class="devis" data-test="devis">
    Devis
  </div>
  <div class="factures" data-test="factures">
    Factures
  </div>
  <div data-test="compte">
    compte
  </div>
</div>

<app-login></app-login>

<a routerLink="parametres">Parametres</a>
<a routerLink="devis">Devis</a>
<button label="Artisans" (click)="displayArtisan()">Artisans</button>


<router-outlet></router-outlet>
