<p-toast [key]="ROOT_KEY" [position]="MSG_POSITION" ></p-toast>
<p-confirmDialog #cd rejectButtonStyleClass="p-button-outlined"  header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Non" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<!--TOP MENU-->
<app-top-menu></app-top-menu>

<!--MAIN CONTENT-->
<div class="content" data-test="content">
  <router-outlet></router-outlet>
</div>

<app-loading></app-loading>

