<table>
  <thead>
  <tr>
    <th>Désignation</th>
    <ng-container *ngIf="doUtils.isActif(devisOptionList,mo.COLONNE_QUANTITE)">
      <th >
        Quantité
      </th>
      <th >
        Prix unitaire HT
      </th>
    </ng-container>
    <th  *ngIf="doUtils.isActif(devisOptionList,mo.TVA_SAISISSABLE_PAR_LIGNE)">
      Taux TVA
    </th>
    <th>
      Prix total HT
    </th>
  </tr>
  </thead>
</table>

<!--<div id="designation" class="p-col-12">-->
<!--<table style="width:100%">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Désignation</th>-->
<!--<th *ngIf="isActif(colonneQuantite)">Quantité</th>-->
<!--<th *ngIf="isActif(colonneQuantite)">Prix unitaire HT</th>-->
<!--<th *ngIf="isActif(tvaSaisissableParLigne)">Taux TVA</th>-->
<!--<th>Prix total HT</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td>Modificatif de l'état descriptif</td>-->
<!--<td class="montant" *ngIf="isActif(colonneQuantite)">1</td>-->
<!--<td class="montant" *ngIf="isActif(colonneQuantite)">550.25 €</td>-->
<!--<td class="montant" *ngIf="isActif(tvaSaisissableParLigne)">20%</td>-->
<!--<td class="montant">550.25 €</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Attestation de surface loi carrez</td>-->
<!--<td class="montant" *ngIf="isActif(colonneQuantite)">2</td>-->
<!--<td class="montant" *ngIf="isActif(colonneQuantite)">62.89 €</td>-->
<!--<td class="montant" *ngIf="isActif(tvaSaisissableParLigne)">5.5%</td>-->
<!--<td class="montant">125.78 €</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->

<!--<div class="p-col-8">-->
<!--<ng-container *ngIf="isActif(coordonneesBanquaires) && artisanBanque">-->
<!--<table>-->
<!--<tr>-->
<!--<td>Banque</td>-->
<!--<td>{{artisanBanque.banque}}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>RIB</td>-->
<!--<td>{{artisanBanque.rib}}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>IBAN</td>-->
<!--<td>{{artisanBanque.iban}}</td>-->
<!--</tr>-->
<!--</table>-->

<!--</ng-container>-->
<!--</div>-->
<!--<div class="p-col-4">-->
<!--<table id="totaux" style="width:100%">-->
<!--<tbody>-->
<!--<tr>-->
<!--<td><strong>TOTAL HT</strong></td>-->
<!--<td class="montant"><strong>676.03 €</strong></td>-->
<!--</tr>-->


<!--<ng-container [ngSwitch]="isActif(tvaSaisissableParLigne)">-->
<!--<ng-container *ngSwitchCase="false">-->
<!--<tr>-->
<!--<td>TOTAL TVA ({{artisan.taxe.taux}}%)</td>-->
<!--<td class="montant">{{676.03 * (artisan.taxe.taux/100) | number:'1.2-2'}} €</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><strong>TOTAL TTC</strong></td>-->
<!--<td class="montant"><strong>{{676.03 * (1+(artisan.taxe.taux/100 )) | number:'1.2-2'}} €</strong></td>-->
<!--</tr>-->
<!--</ng-container>-->
<!--<ng-container *ngSwitchCase="true">-->
<!--<tr>-->
<!--<td>TOTAL TVA</td>-->
<!--<td class="montant">116.97 €</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><strong>TOTAL TTC</strong></td>-->
<!--<td class="montant"><strong>{{793 | number:'1.2-2' }} €</strong></td>-->
<!--</tr>-->
<!--</ng-container>-->
<!--</ng-container>-->


<!--</tbody>-->
<!--</table>-->
<!--</div>-->
