<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/general.html :: headerfiles"></header>
<body>
<div class="alert alert-primary width-500" role="alert">
<p>
Bonjour <span th:text="${asker.personne.prenom}"></span> <span th:text="${asker.personne.nom}"></span>,
</p>
<br>

<p>
Merci pour votre demande de devis 😊.
</p>

<p>
Je traite votre demande au plus vite.
</p>
<p>
    Vous aurez une réponse par mail ou téléphone dans les 48 heures.
</p>

<br>
<p>
A bientôt
</p>
</div>
<br>

<div class="alert alert-success width-500" role="alert">
<p>
    <span class="font-14" th:text="${worker.personne.societe}"></span>
</p>

<p >
    <span class="font-12" th:text="${worker.personne.prenom}"></span> <span  class="font-12" th:text="${worker.personne.nom}"></span>
</p>
<p>
    <span class="font-12" th:text="${worker.personne.adresse}"></span>
</p>
<p>
    <span class="font-12" th:text="${worker.personne.codePostal}"></span> <span class="font-12" th:text="${worker.personne.ville}"></span>
</p>
<p>
    <span class="font-12" th:text="${worker.personne.numeroTelephone}"></span>
</p>
</div>
</body>
</html>