<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/general.html :: headerfiles"></header>
<body>
<span th:text="${message}"></span>

<p>
<span th:text="${asker.societe}"></span>
</p>
<p>
<span th:text="${asker.fonction}"></span>
</p>
<p>
<span th:text="${asker.prenom}"></span> <span th:text="${asker.nom}"></span>
</p>
<p>
<span th:text="${asker.ville.codePostal}"></span> <span th:text="${asker.ville.nomVille}"></span>
</p>
<p>
<span th:text="${asker.adresse}"></span>
</p>
<p>
<span th:text="${asker.numeroTelephone}"></span>
</p>

<footer th:replace="fragments/general.html :: footer"></footer>

</body>
</html>