<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/general.html :: headerfiles"></header>
<body>

<div class="alert alert-primary width-500" role="alert">
<span th:text="${message}"></span>
</div>
<br>

<div class="alert alert-primary width-500" role="alert">
<p>
<span class="font-12" th:text="${asker.personne.societe}"></span>
</p>
<p>
<span class="font-12" th:text="${asker.personne.fonction}"></span>
</p>
<p>
<span class="font-12" th:text="${asker.personne.prenom}"></span> <span class="font-12" th:text="${asker.personne.nom}"></span>
</p>
<p>
    <th:block th:if="${asker.personne.ville != null}">
        <span class="font-12" th:text="${asker.personne.codePostal}"></span> <span class="font-12" th:text="${asker.personne.ville}"></span>
    </th:block>

</p>
<p>
<span class="font-12" th:text="${asker.personne.adresse}"></span>
</p>
<p>
<span class="font-12" th:text="${asker.personne.numeroTelephone}"></span>
</p>
</div>

</body>
</html>