<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/general.html :: headerfiles"></header>
<body>

<!-- EN TETE -->
<table>
    <tr>
        <td class="width-60percent">
            <span th:text="${devis.logo}"></span>
        </td>
        <td >
            <div th:text="${devis.artisan.personne.societe}"></div>
            <div th:text="${devis.artisan.personne.adresse}"></div>
            <div>
                <span th:text="${devis.artisan.personne.codePostal}"></span> <span th:text="${devis.artisan.personne.ville}"></span>
            </div>
            <div>
                <span th:text="${devis.artisan.personne.email}"></span>
            </div>

        </td>
    </tr>
    <tr>
        <td>
           <b> Devis n° <span th:text="${devis.numeroDevis}"></span></b>
        </td>
        <td>
            <span th:text="${devis.lieu}"></span>, le  <span th:text="${#dates.day(devis.dateEnCours)}"></span>
            <span th:text="${#dates.monthName(devis.dateEnCours)}"></span>
            <span th:text="${#dates.year(devis.dateEnCours)}"></span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>
                <b><span th:text="${devis.client.personne.prenom}"></span> <span th:text="${devis.client.personne.nom}"></span></b>
            </div>

            <div th:text="${devis.client.personne.adresse}"></div>
            <span th:text="${devis.client.personne.codePostal}"></span> <span th:text="${devis.client.personne.ville}"></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div th:text="${devis.sujet}"></div>
        </td>
    </tr>
</table>

<!-- LIGNES -->
<table>
</table>

<!-- PIED DE PAGE -->
<table>
    <tr>
        <td>
           <b> Conditions de règlement : <span th:text="${devis.conditionDeReglement}"></span></b>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Réglement à l'ordre de : <b><span th:text="${devis.artisan.personne.societe}"></span></b> - <span
                th:text="${devis.artisan.personne.adresse}"></span> - <span th:text="${devis.artisan.personne.codePostal}"></span> <span
                th:text="${devis.artisan.personne.ville}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                RIB : <span th:text="${devis.rib}"></span>
            </div>
            <div>
                IBAN : <span th:text="${devis.iban}"></span>
            </div>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            <div class="padding-top-10">
                Acceptation du devis accompagné d'une provision de <span th:text="${devis.provision}"></span>€
            </div>
            <div class="padding-top-10">
                Bon pour commande, le
            </div>
            <div class="padding-top-10">
                Signature et nom du signataire
            </div>

        </td>
        <td>
            <span th:text="${devis.signature}"></span>
        </td>
    </tr>
</table>

</body>
</html>