<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/general.html :: headerfiles"></header>
<body>

<!-- EN TETE -->
<table>
    <tr>
        <td class="width-50percent">
            <span th:text="${devis.logo}"></span>
            <div th:text="${devis.artisan.personne.societe}"></div>
            <div th:text="${devis.artisan.personne.adresse}"></div>
            <div>
                <span th:text="${devis.artisan.personne.codePostal}"></span> <span
                    th:text="${devis.artisan.personne.ville}"></span>
            </div>
            <div>
                Tél. <span th:text="${devis.artisan.personne.numeroTelephone}"></span>
            </div>
            <div>
            <span th:text="${devis.artisan.personne.email}"></span> - <a
                th:href="${devis.artisan.application.site}">
            <span th:text="${devis.artisan.application.site}"></span> </a>
        </div>
            <div>
                SIRET : <span th:text="${devis.artisan.siret}"></span>
            </div>
        </td>
        <td>
            <div>
                <b><span th:text="${devis.client.personne.prenom}"></span> <span
                        th:text="${devis.client.personne.nom}"></span></b>
            </div>

            <div th:text="${devis.client.personne.adresse}"></div>
            <span th:text="${devis.client.personne.codePostal}"></span> <span
                th:text="${devis.client.personne.ville}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <b> Devis n° <span th:text="${devis.numeroDevis}"></span></b>
        </td>
        <td>
            <div th:text="${devis.sujet}"></div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <span th:text="${devis.lieu}"></span>, le <span th:text="${#dates.day(devis.dateEnCours)}"></span>
            <span th:text="${#dates.monthName(devis.dateEnCours)}"></span>
            <span th:text="${#dates.year(devis.dateEnCours)}"></span>
        </td>
    </tr>
</table>

<!-- LIGNES -->
<table border="1"  style="width:100%;border-collapse: collapse;">
    <thead>
        <tr style="background-color: gainsboro">
            <th>Désignation</th>
            <th>Montant €</th>
        </tr>
    </thead>
    <tbody>
    <th:block th:each="ligne : ${devis.devisLigneList}">
        <tr style="border: none">
            <td class="width-80percent">
                <span th:text="${ligne.designation}"></span>
            </td>
            <td style="text-align: right;">
                <span th:text="${#numbers.formatDecimal(ligne.montantHT,1,2,'COMMA')}"></span>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
<table style="width:100%;border-style: none;">
    <tr >
        <td class="width-50percent"></td>
        <td   style="text-align: right; "><b>TOTAL HT</b></td>
        <td  style="text-align: right;">
            <b><span th:text="${#numbers.formatDecimal(sommeHT,1,2,'COMMA')}"></span> €</b>
        </td>
    </tr>
    <tr >
        <td class="width-50percent"></td>
        <td  style="text-align: right; ">TOTAL TVA (<span th:text="${#numbers.formatDecimal(devis.tva,1,2,'COMMA')}"></span>%)</td>
        <td  style="text-align: right; ">
            <span th:text="${#numbers.formatDecimal(sommeTVA,1,2,'COMMA')}"></span> €
        </td>
    </tr>
    <tr >
        <td class="width-50percent"></td>
        <td style="text-align: right; "><b>TOTAL TTC</b></td>
        <td  style="text-align: right; width:20%">
            <b><span th:text="${#numbers.formatDecimal(sommeTTC,1,2,'COMMA')}"></span> €</b>
        </td>
    </tr>
</table>

<!-- PIED DE PAGE -->
<table style="width:100%;">
    <tr>
        <td>
            <b> Conditions de règlement :</b> <span th:text="${devis.conditionDeReglement}"></span>
            <br></br>
            <br></br>
            Réglement à l'ordre de : <b><span th:text="${devis.artisan.personne.societe}"></span></b> - <span
                th:text="${devis.artisan.personne.adresse}"></span> - <span
                th:text="${devis.artisan.personne.codePostal}"></span> <span
                th:text="${devis.artisan.personne.ville}"></span>
            <br></br>
            <br></br>
            <div>
                RIB : <span th:text="${devis.rib}"></span>
            </div>
            <div>
                IBAN : <span th:text="${devis.iban}"></span>
            </div>
        </td>
    </tr>
</table>
<table style="width:100%;">
    <tr>
        <td>
            <div class="padding-top-10">
                Devis valable <span th:text="${devis.validiteDevisMois}"></span> mois.
            </div>
            <div class="padding-top-10" th:if="${devis.provision.floatValue()>0}">
                Acceptation du devis accompagné d'une provision de <span th:text="${#numbers.formatDecimal(devis.provision,1,2,'COMMA')}"></span>€
            </div>
            <div class="padding-top-10">
                Bon pour commande,
                <br></br>
                <br></br>
                le ................ ........................................
            </div>
        </td>
    </tr>
</table>
<table style="width:100%;">
    <tr>
        <td class="width-50percent">

            <div class="padding-top-10">
                Signature et nom du signataire
            </div>
        </td>
        <td>
            <span th:text="${devis.signature}"></span>
        </td>
    </tr>
</table>

</body>
</html>