@import 'variables';

.editable {
  color: $color-editable-field;
  background-color: $bg-color-editable-field;
  padding: 4px;
  height: 32px;
  cursor: pointer;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
}

