$color-danger: #cc1e0d;
$color-nature: #668D2E;
$color-border: #dee2e6;
$color-hover: #e9ecef;
$color-button: #2196f3;

$color-editable-field: #7e8388;
$bg-color-editable-field: rgba(255, 196, 45, 0.05);

@for $i from 1 through 1300 {

  @if ($i < 60) {
    .font-#{$i} {
      font-size: #{$i}px;
    }

    .lh-#{$i} {
      line-height: #{$i}px;
    }
  }

  .ht-#{$i} {
    height: #{$i}px;
  }

  .max-ht-#{$i} {
    max-height: #{$i}px;
  }

  .wh-#{$i} {
    width: #{$i}px;
  }

  .max-wh-#{$i} {
    max-width: #{$i}px;
  }

  .min-wh-#{$i} {
    min-width: #{$i}px;
  }

  .pg-#{$i} {
    padding: #{$i}px;
  }

  .mg-#{$i} {
    margin: #{$i}px;
  }

  .mg-r-#{$i} {
    margin-right: #{$i}px;
  }

  .mg-l-#{$i} {
    margin-left: #{$i}px;
  }

  .mg-b-#{$i} {
    margin-bottom: #{$i}px;
  }

  .mg-t-#{$i} {
    margin-top: #{$i}px;
  }

}

.ng-dirty.ng-invalid{
  border-color : $color-danger;

}

