<p-card >
  <ng-template pTemplate="header">
    <h6 class="pg-10">Demander un devis</h6>
  </ng-template>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class=" font-12">
      Les champs avec une astérisque <span style="color:red;">*</span> sont obligatoires.
    </div>

    <div class="p-grid p-fluid mg-t-10">

      <div class="p-col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> <div class="wh-70">Nom<span style="color:red;">*</span></div> </span>
          <input type="text" formControlName="nomCtl" pInputText placeholder="">
        </div>
      </div>
      <div *ngIf="validatorsSvc.shouldShowRequiredError(form.get('nomCtl'))" class="color-danger">Le nom est obligatoire.</div>
      <div *ngIf="validatorsSvc.shouldShowMinLengthError(form.get('nomCtl'))" class="color-danger">{{validatorsSvc.displayMinLengthError(form.get('nomCtl'),'nom')}}</div>
      <div *ngIf="validatorsSvc.shouldShowMaxLengthError(form.get('nomCtl'))" class="color-danger">{{validatorsSvc.displayMaxLengthError(form.get('nomCtl'),'nom')}}</div>

      <div class="p-col-12 mg-t-10">
        <div class="p-inputgroup ">
              <span class="p-inputgroup-addon">   <div class="wh-70">Prénom<span
                style="color:red;">*</span></div></span>
          <input type="text" formControlName="prenomCtl" pInputText placeholder="">
        </div>
      </div>
      <div *ngIf="validatorsSvc.shouldShowRequiredError(form.get('prenomCtl'))" class="color-danger">Le prénom est obligatoire.</div>
      <div *ngIf="validatorsSvc.shouldShowMinLengthError(form.get('prenomCtl'))" class="color-danger">{{validatorsSvc.displayMinLengthError(form.get('prenomCtl'),'prénom')}}</div>
      <div *ngIf="validatorsSvc.shouldShowMaxLengthError(form.get('prenomCtl'))" class="color-danger">{{validatorsSvc.displayMaxLengthError(form.get('prenomCtl'),'prénom')}}</div>

      <div class="p-col-12 mg-t-10">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> <div class="wh-70">Société</div></span>
          <input type="text" formControlName="societeCtl" pInputText placeholder="">
        </div>
      </div>


      <div class="p-col-12 mg-t-10">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> <div class="wh-70">Adresse</div></span>
          <input type="text" formControlName="adresseCtl" pInputText placeholder="">
        </div>
      </div>

      <div class="p-col-12 mg-t-10">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> <div class="wh-70">Ville</div></span>
          <p-autoComplete field="nom" formControlName="villeCtl"
                          [suggestions]="villes" (completeMethod)="search($event)">

            <ng-template let-item pTemplate="item">
              <div class="d-flex">
                <div class="mr-auto">
                  {{item.nom}}
                </div>
                <div>
                  {{item.codePostal}}
                </div>
              </div>
            </ng-template>
          </p-autoComplete>
          <span class="mg-l-10 lh-40">{{form.get('villeCtl').value.codePostal}}</span>
        </div>
      </div>

      <div class="p-col-12 mg-t-10">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> <div class="wh-70">Téléphone</div></span>
          <input class="max-wh-400"  formControlName="telephoneCtl" type="tel" pInputText placeholder="">
        </div>
      </div>

      <div class="p-col-12 mg-t-10">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> <div class="wh-70">Email <span style="color:red;">*</span></div></span>
          <input class="max-wh-400" formControlName="emailCtl" type="email"  pInputText placeholder="">
        </div>
      </div>
      <div *ngIf="validatorsSvc.shouldShowRequiredError(form.get('emailCtl'))" class="color-danger">L'email est obligatoire.</div>
      <div *ngIf="validatorsSvc.shouldShowMinLengthError(form.get('emailCtl'))" class="color-danger">{{validatorsSvc.displayMinLengthError(form.get('emailCtl'),'email')}}</div>
      <div *ngIf="validatorsSvc.shouldShowMaxLengthError(form.get('emailCtl'))" class="color-danger">{{validatorsSvc.displayMaxLengthError(form.get('emailCtl'),'email')}}</div>
      <div *ngIf="validatorsSvc.shouldShowEmailPatternError(form.get('emailCtl'))" class="color-danger">{{validatorsSvc.displayEmailPatternError(form.get('emailCtl'))}}</div>

      <div class="p-col-12 mg-t-10">
        <div class="p-inputgroup">
              <span class="p-inputgroup-addon">  <fa-icon [icon]="faPenFancy"></fa-icon> <span
                style="color:red;">*</span></span>
          <textarea pInputTextarea formControlName="messageCtl"[rows]="6" [cols]="30"
                    placeholder="rédiger un message..."></textarea>
        </div>
      </div>
      <div *ngIf="validatorsSvc.shouldShowRequiredError(form.get('messageCtl'))" class="color-danger">Le message est obligatoire.</div>
      <div *ngIf="validatorsSvc.shouldShowMinLengthError(form.get('messageCtl'))" class="color-danger">{{validatorsSvc.displayMinLengthError(form.get('messageCtl'),'message')}}</div>
      <div *ngIf="validatorsSvc.shouldShowMaxLengthError(form.get('messageCtl'))" class="color-danger">{{validatorsSvc.displayMaxLengthError(form.get('messageCtl'),'message')}}</div>

      <div class="d-flex mg-t-10">
        <div class="mr-auto ">
        </div>
        <div>
          <button pButton pRipple type="submit" label="Envoyer"  class="p-button-rounded"></button>
        </div>
      </div>

    </div>
  </form>

</p-card>
