$color-background: #f1f1f1;
$color-border: #dee2e6;
$color-default: #495057;
$color-hover: #A5BE79;
$color-href: #caaf98;
$color-href-hover: #ad927b;
$color-subtitle: #ad927b;
$color-subsubtitle: #7b3332;


@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suravaram&display=swap');

@for $i from 1 through 1000 {

  @if ($i < 60) {
    .font-#{$i} {
      font-size: #{$i}px;
    }

    .lh-#{$i} {
      line-height: #{$i}px;
    }

  }

  .ht-#{$i} {
    height: #{$i}px;
  }

  .max-ht-#{$i} {
    max-height: #{$i}px;
  }

  .wh-#{$i} {
    width: #{$i}px;
  }

  .max-wh-#{$i} {
    max-width: #{$i}px;
  }

  .pg-#{$i} {
    padding: #{$i}px;
  }

  .pg-b-#{$i} {
    padding-bottom: #{$i}px;
  }

  .pg-t-#{$i} {
    padding-top: #{$i}px;
  }

  .pg-l-#{$i} {
    padding-left: #{$i}px;
  }

  .pg-r-#{$i} {
    padding-right: #{$i}px;
  }

  .mg-#{$i} {
    margin: #{$i}px;
  }

  .mg-r-#{$i} {
    margin-right: #{$i}px;
  }

  .mg-l-#{$i} {
    margin-left: #{$i}px;
  }

  .mg-b-#{$i} {
    margin-bottom: #{$i}px;
  }

  .mg-t-#{$i} {
    margin-top: #{$i}px;
  }

}

.cursor {
  cursor: pointer;
}
