@import 'variables';

::ng-deep .p-inputnumber-input {
  width: 80px;
  text-align: right;
}

strong {
  font-size: 14px;
}

.page-parametre{
  width: calc( 100% - 20px);
}

label{
  width:100px;
}

input{
  width:252px;
}

.listbox{
  width:400px;
}


.previewer{

  font-size: 12px;
  max-height: calc( 100vh - 170px);
  overflow: auto;
  margin-top:0px;
  max-width:600px;
}

@media screen and (max-width: 960px) {

  input{
    width:192px;
  }

  .listbox{
    width:300px;
  }


}
