<div class="mg-t-10 page-parametre">
  <div class="p-d-flex p-flex-column p-flex-md-row">
    <div class="p-mr-2">
      <p-accordion [multiple]="false">
        <p-accordionTab header="Identification" [selected]="true">

          <div class="p-field p-grid">
            <label for="siret" class="p-col-fixed" style="width:100px"><strong>SIRET</strong></label>
            <div class="p-col">
              <input type="text" id="siret"  pInputText [(ngModel)]="artisan.siret" data-test="siret"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="societe" class="p-col-fixed" style="width:100px"><strong>Société</strong></label>
            <div class="p-col">
              <input type="text" id="societe"  pInputText
                     [(ngModel)]="artisan.personne.societe"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="fonction" class="p-col-fixed" style="width:100px"><strong>Fonction</strong></label>
            <div class="p-col">
              <input type="text" id="fonction"  pInputText
                     [(ngModel)]="artisan.personne.fonction"/>
            </div>
          </div>


          <div class="p-field p-grid">
            <label for="adresse" class="p-col-fixed" style="width:100px"><strong>Adresse</strong></label>
            <div class="p-col">
              <input type="text" id="adresse"  pInputText
                     [(ngModel)]="artisan.personne.adresse"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="ville" class="p-col-fixed" style="width:100px"><strong>Ville</strong></label>
            <div class="p-col">
              <input type="text" id="ville"  pInputText
                     [(ngModel)]="artisan.personne.ville"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="codePostal" class="p-col-fixed" style="width:100px"><strong>Code postal</strong></label>
            <div class="p-col">
              <input type="text" id="codePostal"  pInputText
                     [(ngModel)]="artisan.personne.codePostal"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="telephone" class="p-col-fixed" style="width:100px"><strong>Téléphone</strong></label>
            <div class="p-col">
              <input type="text" id="telephone"  pInputText
                     [(ngModel)]="artisan.personne.numeroTelephone"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="signature" class="p-col-fixed" style="width:100px"><strong>Signature</strong></label>
            <div class="p-col">
              <span id="signature">Signature à implémenter</span>
            </div>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Devis">
          <div data-test="taxe">
            <h5>TVA</h5>
            <p-listbox [options]="taxes" [(ngModel)]="artisan.taxe" optionLabel="nom" >
              <ng-template let-item pTemplate="item">
                <div class="p-d-flex ">
                  <div class="p-mr-2">
                    {{item.nom}}
                  </div>
                  <div class="p-ml-auto">
                    <strong>{{item.taux | number:'1.2-2'}}%</strong>
                  </div>
                </div>

              </ng-template>
            </p-listbox>
          </div>
          <div data-test="conditionReglement">
            <h5>Condition de règlement</h5>
            <p-listbox [options]="conditionsReglements" [(ngModel)]="artisan.conditionDeReglement"
                       optionLabel="condition"
                       [style]="{'width':'320px'}">
            </p-listbox>
          </div>


          <div data-test="provision">
            <h5>Provision</h5>
            <p-inputNumber [(ngModel)]="artisan.provision" mode="decimal" [minFractionDigits]="2"
                           [maxFractionDigits]="2"></p-inputNumber>
            %
          </div>

          <div data-test="provision">
            <h5>Validité du devis en mois</h5>
            <p-inputNumber [(ngModel)]="artisan.validiteDevisMois" mode="decimal"></p-inputNumber>
          </div>

        </p-accordionTab>
        <p-accordionTab header="Factures">
          Nouvelle fonctionnalité à implémenter...
        </p-accordionTab>
      </p-accordion>
      <p-button icon="pi pi-save" pTooltip="Enregistrer les modifications" (onClick)="save()"></p-button>
    </div>
    <div class="p-mr-2">

      <p-selectButton [options]="previews" [(ngModel)]="selectedPreview" optionLabel="label" optionValue="label"></p-selectButton>

      <ng-container [ngSwitch]="selectedPreview">
        <ng-container *ngSwitchCase="'devis'">
          <app-preview-devis [artisan]="artisan" [artisanBanque]="artisanBanque"></app-preview-devis>
        </ng-container>
        <ng-container *ngSwitchCase="'facture'">

        </ng-container>
      </ng-container>

    </div>
  </div>
</div>




