<div class="mg-t-10 page-parametre">
  <div class="p-d-flex p-flex-column p-flex-md-row">
    <div class="mg-b-10">
      <p-accordion [multiple]="false">
        <p-accordionTab header="Identification"  [selected]="true">

          <div class="p-field p-grid">
            <label for="siret" class="p-col-fixed"><strong>SIRET</strong></label>
            <div class="p-col">
              <input type="text" id="siret" pInputText [(ngModel)]="artisan.siret" data-test="siret"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="societe" class="p-col-fixed"><strong>Société</strong></label>
            <div class="p-col">
              <input type="text" id="societe" pInputText
                     [(ngModel)]="artisan.personne.societe"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="fonction" class="p-col-fixed"><strong>Fonction</strong></label>
            <div class="p-col">
              <input type="text" id="fonction" pInputText
                     [(ngModel)]="artisan.personne.fonction"/>
            </div>
          </div>


          <div class="p-field p-grid">
            <label for="adresse" class="p-col-fixed"><strong>Adresse</strong></label>
            <div class="p-col">
              <input type="text" id="adresse" pInputText
                     [(ngModel)]="artisan.personne.adresse"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="ville" class="p-col-fixed"><strong>Ville</strong></label>
            <div class="p-col">
              <input type="text" id="ville" pInputText
                     [(ngModel)]="artisan.personne.ville"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="codePostal" class="p-col-fixed"><strong>Code postal</strong></label>
            <div class="p-col">
              <input type="text" id="codePostal" pInputText
                     [(ngModel)]="artisan.personne.codePostal"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="telephone" class="p-col-fixed"><strong>Téléphone</strong></label>
            <div class="p-col">
              <input type="text" id="telephone" pInputText
                     [(ngModel)]="artisan.personne.numeroTelephone"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="email" class="p-col-fixed"><strong>Email</strong></label>
            <div class="p-col">
              <input type="text" id="email" pInputText
                     [(ngModel)]="artisan.emailPro"/>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="signature" class="p-col-fixed"><strong>Signature</strong></label>
            <div class="p-col">
              <span id="signature">Signature à implémenter</span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="TVA">
          <div>
            <h5>{{getModeleOptionLabel(tvaSaisissableParLigne)}}</h5>
            <p-selectButton [options]="[{label:'oui',value:true},{label:'non',value:false}]"
                            [ngModel]="getArtisanOption(tvaSaisissableParLigne)"
                            (ngModelChange)="setArtisanOption(tvaSaisissableParLigne,$event)"
                            optionLabel="label"
                            optionValue="value"
            ></p-selectButton>
          </div>
          <div data-test="taxe" *ngIf="!getArtisanOption(tvaSaisissableParLigne)">
            <h5>Taux de TVA par défaut</h5>
            <p-listbox [options]="taxes" [(ngModel)]="artisan.taxe" optionLabel="nom">
              <ng-template let-item pTemplate="item">
                <div class="p-d-flex listbox">
                  <div>
                    {{item.nom}}
                  </div>
                  <div class="p-ml-auto">
                    <strong>{{item.taux | number:'1.2-2'}}%</strong>
                  </div>
                </div>

              </ng-template>
            </p-listbox>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Options">

          <div>
            <h5>{{getModeleOptionLabel(colonneQuantite)}}</h5>
            <p-selectButton [options]="[{label:'oui',value:true},{label:'non',value:false}]"
                            [ngModel]="getArtisanOption(colonneQuantite)"
                            (ngModelChange)="setArtisanOption(colonneQuantite,$event)"
                            optionLabel="label"
                            optionValue="value"
            ></p-selectButton>
          </div>

          <div data-test="conditionReglement">
            <h5>Condition de règlement</h5>
            <p-listbox [options]="conditionsReglements" [(ngModel)]="artisan.conditionDeReglement"
                       optionLabel="condition">
              <ng-template let-item pTemplate="item">
                <div class="listbox">
                  <div>
                    {{item.condition}}
                  </div>
                </div>

              </ng-template>
            </p-listbox>
          </div>

          <div data-test="provision">
            <h5>Provision</h5>
            <p-inputNumber [(ngModel)]="artisan.provision" mode="decimal" [minFractionDigits]="2"
                           [maxFractionDigits]="2"></p-inputNumber>
            %
          </div>

          <div data-test="provision">
            <h5>Validité du devis en mois</h5>
            <p-inputNumber [(ngModel)]="artisan.validiteDevisMois" mode="decimal"></p-inputNumber>
          </div>


        </p-accordionTab>
        <p-accordionTab header="Banque" >

          <h5>{{getModeleOptionLabel(coordonneesBanquaires)}}</h5>
          <p-selectButton [options]="[{label:'oui',value:true},{label:'non',value:false}]"
                          [ngModel]="getArtisanOption(coordonneesBanquaires)"
                          (ngModelChange)="setArtisanOption(coordonneesBanquaires,$event)"
                          optionLabel="label"
                          optionValue="value"
          ></p-selectButton>

          <div class="datagrid-banque mg-t-10">
          <app-crud-banque [artisanBanqueList]="artisanBanqueList"
                           [artisan]="artisan"
                           (outArtisanBanqueList)="updateArtisanBanqueList($event)"></app-crud-banque>

          </div>


        </p-accordionTab>
      </p-accordion>

    </div>
    <div class="mg-l-10">

      <div class="p-d-flex  p-flex-md-row">
        <p-button icon="pi pi-save" pTooltip="Enregistrer les modifications" (onClick)="save()"
                  class="mg-r-10"></p-button>
        <p-selectButton [options]="previews" [(ngModel)]="selectedPreview" optionLabel="label"
                        optionValue="label"></p-selectButton>
      </div>

      <div class="previewer">
        <ng-container [ngSwitch]="selectedPreview">
          <ng-container *ngSwitchCase="'devis'">
            <app-preview-devis [artisan]="artisan" [artisanBanque]="artisanBanque"
                               [artisanOptionList]="artisanOptionList"></app-preview-devis>
          </ng-container>
          <ng-container *ngSwitchCase="'facture'">

          </ng-container>
        </ng-container>
      </div>


    </div>
  </div>
</div>



