
body {

}

.shadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.toolbar {
  height: 70px;
  line-height: 70px;
  background-color: var(--surface-a);
  z-index: 997;

  border-bottom: 1px solid var(--surface-d);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 14px;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
}

.body {
  margin: auto;
  max-width: 800px;
}

.second-level-menu {
  position: fixed;
  top: 70px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  max-width: 800px;
  background-color: white;

}

.main {
  margin-top: 100px;
  min-height: calc(100vh - 200px);
  max-width: 100vw;

  color: #495057;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.footer {
  background-color: #668D2E;
  color: white;
}

.title {
  animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s; /* don't forget to set a duration! */
  font-size: 18px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;

}


.item-menu{

}

.item-menu:hover {
  //-webkit-animation-duration: 1s;
  //animation-duration: 1s;
  //-webkit-animation-iteration-count: 1;
  //animation-iteration-count: 1;
  //-webkit-animation-name: pulse;
  //animation-name: pulse;
}

.active-menu {
  background-color: #668D2E;
  color: #fff;
  padding: 6px;

}

