<p-dialog header="Créer un devis"
          [dismissableMask]="true"
          [modal]="true"
          [(visible)]="displayDialog"
          [style]="{width: '450px'}"

         >

  <p-dropdown [options]="clientList"
              [(ngModel)]="selectedClient"
              [filter]="true"
              [showClear]="true"
              [style]="{'width':'400px'}"
              optionLabel="nom"
              placeholder="Sélectionner un client"
              appendTo="body">

    <ng-template pTemplate="selectedItem">
      <div   *ngIf="selectedClient">
        {{selectedClient.nom | uppercase}} {{selectedClient.prenom | titlecase}} <strong class="mg-l-5" *ngIf="selectedClient.societe">- {{selectedClient.societe | uppercase}}</strong>
      </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div>
          {{item.nom | uppercase}} {{item.prenom | titlecase}}
          <span class="mg-l-5" >- {{item.email}}</span>
          <strong class="mg-l-5" *ngIf="item.societe">- {{item.societe | uppercase}}</strong>
        </div>
    </ng-template>
  </p-dropdown>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-plus" (click)="createDevisAtraiter()" label="Créer" ></p-button>
  </ng-template>
</p-dialog>
