@import 'variables';

.menu {
  height: 69px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-bottom: 1px solid $color-border;
  display: flex;
  align-items: center;
}


.logo {
  width: 150px;

}

.threeBarButton {
  display: none;
  width: 70px;
  text-align: center;
  transition: background-color .2s;
  cursor: pointer;
}

.threeBarButton:hover {
  background-color:$color-hover;
}

.threeBarButton i {
  font-size: 24px;
}

.parametres, .devis, .factures, .stats {
  height:70px;
  line-height: 70px;
  display: block;
}

.link:hover , .routeActive {

  border-bottom: 3px solid $color-button;
}

.link:focus{
  outline: none;
}



@media screen and (max-width: 960px) {

  .menu {
    justify-content: space-between;
  }

  .logo {
    width: 40px;
  }

  .parametres, .devis, .factures, .stats{
    display: none;
  }

  .threeBarButton {
    display: block;
  }
}
