<div class="p-d-flex menu" data-test="menu">

  <div class="threeBarButton mg-r-20" data-test="threeBarButton">
    <i class="pi pi-bars"></i>
  </div>
  <div class="mg-l-20 logo mg-r-20 cursor" data-test="logo">
    <a routerLink="/"><img src="assets/logo.png" height="60"></a>
  </div>
  <div class="parametres mg-r-20 cursor" data-test="parametres" routerLink="parametres" routerLinkActive="routeActive">
    Paramètres
  </div>

  <div class="devis  mg-r-20 cursor" data-test="devis" routerLink="devis" routerLinkActive="routeActive">
    Devis
  </div>
  <div class="factures  mg-r-20 cursor" data-test="factures" routerLink="factures" routerLinkActive="routeActive">
    Factures
  </div>
  <div class="p-ml-auto mg-r-20" data-test="compte">
    <app-login></app-login>
  </div>
</div>

