<h5>Sélectionner une banque</h5>

<p-table [value]="artisanBanqueList"
         dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <button pButton icon="pi pi-plus" pTooltip="Ajouter une banque"
                (click)="addBanque()"
        ></button>
      </th>
      <th>Banque</th>
      <th>RIB</th>
      <th>IBAN</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-banque>
    <tr>
      <td>
        <p-checkbox [binary]="true" [ngModel]="banque.prefere" [disabled]="banque.prefere" (ngModelChange)="updateBanquePrefere(banque,artisanBanqueList,$event)"></p-checkbox>
      </td>
      <td >
        {{banque.banque}}
      </td>
      <td>
        {{banque.rib}}
      </td>
      <td >
        {{banque.iban}}
      </td>
      <td>
        <i class="pi pi-trash cursor" pTooltip="Enlever" (click)="removeBanque(banque)"></i>
      </td>
    </tr>
  </ng-template>
</p-table>



<p-dialog header="Ajouter une banque"
          (onHide)="close()"
          [modal]="true"
          [(visible)]="display">

  <form [formGroup]="form">
    <div class="p-field p-grid">
      <label for="banque" class="p-col-fixed" style="width:100px">Banque</label>
      <div class="p-col">
        <input id="banque" type="text" pInputText formControlName="banque" required>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="iban" class="p-col-fixed" style="width:100px">IBAN</label>
      <div class="p-col">
        <p-inputMask id="iban" formControlName="iban" mask="aa99-9999-9999-9999-9999-9999-999" ></p-inputMask>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="rib" class="p-col-fixed" style="width:100px">RIB</label>
      <div class="p-col">
        <p-inputMask id="rib" formControlName="rib" mask="99999-99999-99999999999-99" ></p-inputMask>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="prefere" class="p-col-fixed" style="width:100px">Banque préférée</label>
      <div class="p-col">
        <p-selectButton
          id="prefere"
          [options]="[{label:'oui',value:true},{label:'non',value:false}]"
          formControlName="prefere"
          optionLabel="label"
          optionValue="value"
        ></p-selectButton>
      </div>
    </div>
    <div class="color-danger">{{warnMsg}}</div>
  </form>

  <p-footer>
    <button pButton icon="pi pi-plus" label="Ajouter"  (click)="save()"></button>
    <button pButton class="p-button-secondary" label="Annuler" icon="pi pi-times"  (click)="close()"></button>
  </p-footer>

</p-dialog>
