$color-danger: #ff4a16;
$color-nature: #668D2E;

$buttonBg: $color-nature;

:host {
  ::ng-deep .p-button{
    background: $color-nature !important;
    border : 1px solid $color-nature;
  }

  ::ng-deep .p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #7aaf3c;
  }

  ::ng-deep .p-button:hover{
    outline: 0 none;
    outline-offset: 0;
    border : 1px solid #a1e147;
  }

}
